﻿@model FizzBuzz.Models.FizzBuzzModel
@using PagedList.Mvc;
@using FizzBuzz;



@{
    ViewBag.Title = "FizzBuzzPage";
}

<h2>FizzBuzz</h2>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@using (Html.BeginForm())
{    
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NumberModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @if (Model != null && Model.OutputList != null)
    {
        <ul>

            @foreach (var element in Model.OutputList)
            {
                <li class="@element">@element</li>
            }
        </ul>
    }

</div>

<div>
    @if (Model != null && Model.OutputList != null)
    {
     
        @Html.PagedListPager(Model.OutputList, page => Url.Action("Index",
    new { page, Model.Number }), PagedListRenderOptions.TwitterBootstrapPager) 
    
    }

</div>


